Repository Eun/http-server-action, pull requests merged in 2023-09, with the labels that each got.

#30 chore: `use actions/checkout@v3` in example in README.md
  README.md
Labels: chore

#32 chore: update README to actions/checkout@v4
  README.md
Labels: chore, merge

#33 fix: release drafter
  .github/workflows/push.yml
Labels: fix, merge
