Repository Eun/http-server-action, pull requests merged in 2023-07, with the labels that each got.

#26 Feat: Logging
  .github/workflows/push.yml
  README.md
  action.yml
  main.js
  server.js
Labels: feature

#28 chore: improve logging
  .github/test-logging.js
  .github/workflows/push.yml
  README.md
  action.yml
  main.js
  server.js
Labels: chore

#29 Fix: added synchronous mode for log writing
  server.js
Labels: fix, merge
